mat-form-field {
  width: 100%;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  max-height: 800px;
}

.header {
  text-align: center;
}

.full-width {
  width: 90%;
}

.userNameInput {
  padding-top: 10px;
}

.aLink {
  float: right;
  margin-right: 5%;
  margin-bottom: 20px;
  text-decoration: none;
}
