<h2 mat-dialog-title>Add New Item</h2>
<div mat-dialog-content>
  <form [formGroup]="orderItemDialogForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Order Id</mat-label>
      <input formControlName="orderId" matInput required readonly />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Item Id</mat-label>
      <mat-select formControlName="itemId" placeholder="Menu Item" required>
        <mat-option *ngFor="let item of menuItems" [value]="item.itemId">
          {{ item.name }} <span *ngIf="!item.isAvailable">[Unavailable]</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Quantity</mat-label>
      <input
        formControlName="quantity"
        matInput
        placeholder="Enter Quantity"
        type="number"
        required
      />
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="addUpdateOrderItem()">
    {{ buttonText }}
  </button>
</mat-dialog-actions>
