<mat-card style="background-color: #fafafa">
  <mat-card-content>
    <div class="header">
      <h1><b style="color: #006ec7">Vikesh's Restaurant</b></h1>
      <mat-divider></mat-divider>
    </div>
    <form
      (ngSubmit)="forgotPassword()"
      name="loginForm"
      [formGroup]="forgotPasswordForm"
    >
      <div class="userNameInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email Id</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter Email ID"
            [(ngModel)]="email"
            required
          />
          <mat-error
            *ngIf="!forgotPasswordForm.controls['email'].errors?.['required']"
          >
            Email Id is required
          </mat-error>
          <mat-error
            *ngIf="!forgotPasswordForm.controls['email'].errors?.['pattern']"
          >
            Email Id is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" style="width: 90%">
        Retrive Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
