<!-- Copyright 2019 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->

<div class="action-button-container" align="end">
  <button
    mat-raised-button
    color="warn"
    (click)="goBack()"
    class="action-button"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-raised-button (click)="print()" class="done-action-button">
    <mat-icon class="white-icon">print</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="addOrderItemDialog()"
    class="action-button"
  >
    <mat-icon>add_chart</mat-icon>
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="getAllOrderItems()"
    class="action-button"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-form-field class="full-width">
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Ex. Id or Category" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="OrderId">
      <th mat-header-cell *matHeaderCellDef>Order Id</th>
      <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="updateOrderItemDialog(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteOrderItem(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
