<h2 mat-dialog-title>Print Bill</h2>
<h3>{{ restaurantDetails.name }}</h3>
<h3>Fssai No: {{ restaurantDetails.fssaiNo }}</h3>
<h4>{{ restaurantDetails.area }}</h4>
<h4>{{ restaurantDetails.city }}</h4>
<h4>{{ restaurantDetails.zip }}</h4>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Item Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.cost | currency : "&#8377;" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        <span style="font-weight: bold">{{
          element.amount | currency : "&#8377;"
        }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="addUpdateOrderItem()">
    Print
  </button>
</mat-dialog-actions>
