mat-form-field {
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
}

.full-width {
  width: 99%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

table {
  width: 100%;
}

th {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.action-button-container {
  padding-top: 16px;
  padding-bottom: 16px;
  width: auto;
}

.action-button {
  margin-right: 16px;
}

.done-action-button {
  margin-right: 16px;
  background: green;
}

.white-icon {
  color: white;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
